# 编译产物
lib/
build/
*/build/
*/Debug/
*/Release/
*.so
*.a
*.dll
*.exe
*.o
*.obj

# IDE 文件
.vscode/
.idea/
*.swp
*.swo

# CMake 生成文件
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
cmake-build-*/


# 其他构建文件
.ninja_deps
.ninja_log
build.ninja

# 系统文件
.DS_Store
Thumbs.db

# 临时文件
*.tmp
*.temp

# 其他
"__pycache__/"
"*.pyc"
"*.pyo"
